Source: ptabtools
Section: sound
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Standards-Version: 3.5.8
Build-Depends: debmake, libxml2-dev, libxslt1-dev, libpopt-dev

Package: ptabtools
Architecture: any
Depends: ${shlibs:Depends}
Description: Tools for parsing PowerTab files
 This package contains a utilities for using PowerTab and GuitarPro files
 on Linux. It includes utilities for converting PowerTab files to 
 to GNU LilyPond files, plain ASCII files and MusicXML files. 
 It also contains a library that can be used by other programs 
 for reading PowerTab and GuitarPro files.
