#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=ptabtools

build: build-stamp
build-stamp:
	dh_testdir
	./autogen.sh
	./configure --prefix=/usr
	$(MAKE)
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=debian/tmp
	dh_movefiles

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) clean
	rm -rf autom4te.cache
	dh_clean

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_installman -a
	dh_link -p libptb0 usr/lib/libptb.so.0.4.3 usr/lib/libptb.so.0
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch 

.PHONY: binary binary-arch binary-indep clean
